{% extends "layout/base.html" %} {% block content %}
<div class="container text-center mt-5">
  <img
    src="/static/assets/404.jpg"
    alt="404 Error"
    class="img-fluid mb-4"
    style="max-width: 300px"
  />
  <h1 class="display-4">Oops! Page Not Found</h1>
  <p class="lead">
    The page you are looking for might have been removed, had its name changed,
    or is temporarily unavailable.
  </p>
  <a href="{{ url_for('user1.home') }}" class="btn btn-primary mb-3"
    >Back Home</a
  >
</div>
{% endblock content %}
