{% extends 'layout/base.html' %} {% block content %}
<style>
  .custom-card {
    border: 1px solid #9ea2a8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
  }

  .post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .post-card {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
  }
</style>

<div class="container py-5">
  <div class="row justify-content-center">
    {% if not posts %}
    <div class="alert alert-secondary text-center">
      No results found for "<strong>{{ query }}</strong>". Please try a
      different search term.
    </div>
    {% else %}
    <p class="text-center mb-3">
      Showing results for "<strong>{{ query }}</strong>"
    </p>
    <br>
    <div class="post-container">
      {% for post in posts %}
      <div class="col-md-6 mb-3 post-card">
        <a href="{{ url_for('post1.show_post', post_id=post.id) }}">
          <div class="card custom-card bg-dark">
            <div class="card-body">
              <h5 class="card-title text-primary">{{ post.title }}</h5>
              <div class="d-flex justify-content-between">
                <p class="card-text">
                  <small class="text-info"
                    >Author: {{ post.author.first_name }} {{
                    post.author.last_name }}</small
                  >
                </p>
                <p class="card-text">
                  <small class="text-info"
                    >{{ moment(post.created_at).format('LLL') }}</small
                  >
                </p>
              </div>
              <p class="card-text">{{ post.generate_excerpt() | safe }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
