{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registered Users</h5>
                    <p class="card-text">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Posts</h5>
                    <p class="card-text">{{ total_posts }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
