{% extends 'admin/master.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to Kemistry Admin Panel</h2>
            <p>
                Kemistry is a platform designed for chemistry enthusiasts, catering to students, researchers, and professionals alike. Here, you'll delve into the fascinating world of chemistry, where learning and collaboration thrive.
            </p>
            <p>
                As an admin user, you wield the power to shape Kemistry's community and content. Take charge of user management, oversee blog posts, and fine-tune website settings to ensure a seamless experience for all users.
            </p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admin Actions</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Manage Users</li>
                        <li class="list-group-item">Control Blog Posts</li>
                        <li class="list-group-item">Customize Website Settings</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
